body {background-color:slategrey;
}

.logoBens {
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.slider-bg1 {
    background-image: url(/Content/Images/recordneedleorange.jpg);
}

.slider-bg2 {
    background-image: url(/Content/Images/pourovervases.jpg);
}

.slider-bg3 {
    background-image: url(/Content/Images/recordingstudio.jpg);
}

.dl-horizontal dt{
    color:white;
}

.accountNav {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.cardben {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-block;
}

    /* On mouse-over, add a deeper shadow */
    .cardben:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

/* Add some padding inside the card container */
.containerben {
    padding: 2px 16px;
    text-align: center;
}

