<main>
    <!-- breadcrumb Start-->
    <div class="page-notification">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">about</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End-->
    <!-- About Area Start -->
    <div class="about-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-tittle mb-60 text-center pt-10">
                        <h2>Record Shop!</h2>
                        <p class="pera" style="color:silver;">This business was started by myself, Benjamin McDaniel, and an old friend and bandmate from high school, Dane Oleson. Dane and I bonded over continuously inspiring one another with our awe and perception of tones in music and themed playlists that we would each create. We thought the idea of a record shop that was designed around revolving custom categories that we created would be INCREDIBLE so, when we were financially able we set sail.</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="about-img pb-bottom">
                        <img src="~/Content/Images/recordshadow.jpg" alt="" class="w-100">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-tittle mb-60 text-center pt-10">
                        <h2>Recording Studio?!</h2>
                        <p class="pera" style="color:silver;">Another way that Dane and I bonded was over our obsession with the Lawrence, KS band The Appleseed Cast. We would discover sooo much incredible local music by going to their shows in the Kansas City area and showing up early to chat with the band. We were upset that we didn't have their entire discography on vinyl, so we looked into how much it would cost to buy a professional record cutter and studio environment. Our goal is to make local musician's vinyl regularly available to the community and to support local bands as much as possible.</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="about-img pb-bottom">
                        <img src="~/Content/Images/recordingstudiomixing.jpg" alt="" class="w-100">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-tittle mb-60 text-center pt-10">
                        <h2>Coffee and Cocktail Shop</h2>
                        <p class="pera" style="color:silver;">This idea came from my adoration with Thou Mayest coffee (Kansas City roasting company). When their location in the Crossroads vanished, I was heartbroken! So, I decided to recreate it and to support their business while doing it. We pride ourselves in having created a very relaxed and cozy environment for anyone to enjoy their time at. From the friendly, well-lit area for caffeine and concentration, to the couches and speakers continuously playing themed music in each of our record categories dens. Show up on Fridays for live local music!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="about-img pb-bottom">
                    <img src="~/Content/Images/coffeecomputerplants.jpg" alt="" class="w-100">
                </div>
            </div>
        </div>
    </div>
    <!-- About Area End -->
    <!--? Popular Items Start -->
    @*<div class="popular-items">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-popular-items mb-50 text-center">
                        <div class="popular-img">
                            <img src="~/Content/images" alt="">
                            <div class="img-cap">
                                <span>Glasses</span>
                            </div>
                            <div class="favorit-items">
                                <a href="#" class="btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-popular-items mb-50 text-center">
                        <div class="popular-img">
                            <img src="~/Content/assets/img/gallery/popular2.png" alt="">
                            <div class="img-cap">
                                <span>Watches</span>
                            </div>
                            <div class="favorit-items">
                                <a href="#" class="btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-popular-items mb-50 text-center">
                        <div class="popular-img">
                            <img src="~/Content/assets/img/gallery/popular3.png" alt="">
                            <div class="img-cap">
                                <span>Jackets</span>
                            </div>
                            <div class="favorit-items">
                                <a href="#" class="btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-popular-items mb-50 text-center">
                        <div class="popular-img">
                            <img src="~/Content/assets/img/gallery/popular4.png" alt="">
                            <div class="img-cap">
                                <span>Clothes</span>
                            </div>
                            <div class="favorit-items">
                                <a href="#" class="btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <!-- Popular Items End -->
    <!--? Services Area Start -->
    @*<div class="categories-area section-padding40 gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50">
                        <div class="cat-icon">
                            <img src="~/Content/assets/img/icon/services1.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Fast & Free Delivery</h5>
                            <p>Free delivery on all orders</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50">
                        <div class="cat-icon">
                            <img src="~/Content/assets/img/icon/services2.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Fast & Free Delivery</h5>
                            <p>Free delivery on all orders</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-30">
                        <div class="cat-icon">
                            <img src="~/Content/assets/img/icon/services3.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Fast & Free Delivery</h5>
                            <p>Free delivery on all orders</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat">
                        <div class="cat-icon">
                            <img src="~/Content/assets/img/icon/services4.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Fast & Free Delivery</h5>
                            <p>Free delivery on all orders</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <!--? Services Area End -->
</main>